# Node modules
node_modules/
server/node_modules/

# סיסמאות וסודות
.env

# לוגים
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# מערכת הפעלה
.DS_Store
Thumbs.db

# תיקיות IDE/עורכים
.vscode/
.idea/

# קבצי Postman
*.postman_collection.json

# קבצים זמניים
*.log
*.tmp
