/* כללי */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #ffffff;
  color: #333;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

/* עיטוף כללי */
.wrapper {
  width: 1200px;
  margin: 0 auto;
}

/* הדר */
header {
  width: 1046px;
  height: 64px;
  margin: 32px 122px 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.logo-img {
  width: 64px;
  height: 64px;
}

.logo-text {
  font-size: 24px;
  font-weight: 700;
  color: #0077B6;
  margin-left: 8px;
  letter-spacing: 6px;
}

nav ul {
  display: flex;
  gap: 62px;
  font-size: 20px;
}

nav a {
  color: #0077B6;
  text-decoration: none;
  font-weight: 600;
}

nav a:hover {
  color: #4BB4E6;
}

/* הדגשה לקישור הפעיל */
.curr-page a {
  font-weight: 900;
}

/* Hero section */
.hero-section {
  margin-top: 32px;
  width: 100%;
  height: 797px;
  background-image: url("../images/fittrack_hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.hero-text-container {
  position: absolute;
  top: 32px;
  left: 32px;
  max-width: 448px;
}

.hero-title {
  font-size: 96px;
  font-weight: 800;
  color: #0077B6;
}

.hero-subtext {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  margin-top: 8px;
}

/* About section */
.about-section {
  width: 1136px;
  margin: 32px auto 0 auto;
}

.about-section h2,
.products-title {
  font-size: 40px;
  font-weight: 500;
  color: #0077B6;
  font-family: 'Rubik', sans-serif;
  margin-bottom: 32px;
}

.about-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  color: #000000;
  font-family: 'Rubik', sans-serif;
  text-align: justify;
}

/* Featured Tools title */
.products-area {
  width: 784px;
  margin-left: 32px;
  margin-top: 32px;
}

/* Footer */
.footer {
  width: 100%;
  height: 287px;
  margin-top: 198px;
  background-color: #A6E3F2;
  display: flex;
  justify-content: flex-start;
}

.footer-container {
  display: flex;
  margin-left: 32px;
  margin-top: 32px;
  align-items: flex-start;
}

.footer-group {
  display: flex;
  flex-direction: column;
}

.footer-left {
  width: 126px;
  margin-right: 150px;
}

.footer-right {
  width: 107px;
}

.footer-title {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.footer-links {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-links a {
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}

.footer-icons {
  display: flex;
  gap: 24px;
  margin-top: 24px;
}

.social-icon {
  width: 20px;
  height: 20px;
}

.footer-copy {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  margin-top: 16px;
}
